REACT_APP_FIREBASE_API_KEY=<...>
REACT_APP_FIREBASE_AUTH_DOMAIN=<...>
REACT_APP_FIREBASE_PROJECT_ID=<...>
REACT_APP_FIREBASE_STORAGE_BUCKET=<...>
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=<...>
REACT_APP_FIREBASE_APP_ID=<...>

REACT_APP_FIREBASE_DB_NAME=<...>
FIREBASE_SERVICE_ACCOUNT_BASE64=<...>

B2_BUCKET=<...>
B2_ENDPOINT=<...>
B2_REGION=<...>
B2_KEY_ID_RO=<...>
B2_APPLICATION_KEY_RO=<...>

SCM_DO_BUILD_DURING_DEPLOYMENT=<...>
