# used to launch a server on localhost
serve@14.2.6
# used to mock DOM and DOM elements for testing
jsdom@29.0.1
# used to return a signal to node.js scripts
process@0.11.10
# used to build/package the frontend along with the shared packages
vite@8.0.3
# formatter
prettier@3.8.1
# linter
eslint@10.2.0
eslint-config-prettier@10.1.8
globals@17.4.0
