button.btn_components {
	font-size: 1.3rem;
	border-radius: 0.7rem;
	cursor: pointer;
	padding: 0.4rem 3rem;
	border: 0;
	pointer-events: auto;
}

button.btn_components.loading {
	color: transparent !important;
	pointer-events: none;
}

button.btn_components.yellow_button {
	color: rgb(10, 22, 40);
	background: rgb(245, 158, 11);
}

button.btn_components.yellow_button:hover {
	background: rgb(251, 191, 36);
	transform: translateY(-1px);
}

button.btn_components.transparent_button {
	color: rgb(148, 163, 184);
	background: transparent;
}

button.btn_components.transparent_button:hover {
	transform: translateY(-1px);
	border: 0.3rem ridge rgb(148, 163, 184);
}
